<section>
  <div class="box">
    <h2>ログイン</h2>
    <%= form_for(:login, :url => login_path, :method => "post") do | form |%>
      <!-- ログイン用Email -->
      <p>メールアドレス</p>
      <!-- エラーメッセージ -->
      <% if @login.errors.any? && @login.errors[:email] %>
        <% @login.errors[:email].each do |error|%>
          <p class="input_red"><%= error %></p>
        <% end %>
      <%end%>
      <%= form.text_field :email, :placeholder => "メールアドレス", :class => "" %>
      <!-- ログイン用Password -->
      <p>パスワード</p>
      <!-- エラーメッセージ -->
      <% if @login.errors.any? && @login.errors[:password] %>
        <% @login.errors[:password].each do |error|%>
          <p class="input_red"><%= error %></p>
        <% end %>
      <%end%>
      <%= form.text_field :password, :placeholder => "パスワード" %>
      <div class="btnbox">
        <a href="" id="login-button" class="btn">ログイン</a>
      </div>
      <p class="font12">
        パスワードを忘れた方は<a href="">こちら</a>
      </p>
    <% end %>
  </div>
  <!--box-->
</section>
<div class="out">
  <p class="font12">
    新規会員登録は<a href="<%= register_index_url() %>">こちら</a>
  </p>
</div>
<script>
  $(function() {
      $("#login-button").eq(0).on("click", function(e) {
          e.preventDefault();
          $("form").eq(0).trigger("submit");
      });
  })
</script>
