<h1>Sessions#new</h1>
<p>ログインフォーム</p>
<%= form_for(:session, {
  url: login_path,
}) do |form| %>
  <div class="actions">
    <p><%= form.label "メールアドレス" %></p>
    <p><%= form.text_field :email %></p>
    <p><%= form.label "パスワード" %></p>
    <p><%= form.text_field :password %></p>
    <p><%= form.submit %></p>
  </div>
<% end %>
<p>ログイン処理のPOST先</p>
<p> URLヘルパー login_path => <%= login_path %></p>
