<p id="notice"><%= notice %></p>
<h1>Likes</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @likes.each do |like| %>
      <tr>
        <%= like.id %>
        <%= like.from_member %>
        <%= like.from_member_id %>
        <%= like.to_member %>
        <%= like.to_member_id %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
