<p id="notice"><%= notice %></p>

<h1>Declines</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @declines.each do |decline| %>
      <tr>
        <td><%= link_to 'Show', decline %></td>
        <td><%= link_to 'Edit', edit_decline_path(decline) %></td>
        <td><%= link_to 'Destroy', decline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Decline', new_decline_path %>
