<a href="" class="backk">戻る</a>
<section>
  <h2 class="noto fontpink">あなたがブロックしているメンバー</h2>
  <div class="oaitelists_wrap mt0">
    <% if @blocking_members != nil && @blocking_members.length > 0 then %>
      <% @blocking_members.each do |member|%>
        <div class="oaitelists">
          <% if member.showable_images.length > 0 then %>
            <a class="oaitelists_img">
              <img src="<%= member.showable_images.first.member_image_url() %>">
            </a>
          <% else %>
            <a class="oaitelists_img"><img src="/images/sample_user.jpg"></a>
          <% end %>
          <p class="bold"><%= member.display_name %>(歳)</p>
          <p>PR: <%= member.message %></p>
          <a href="" class="unblock">ブロック解除</a>
          <!-- 当該ユーザーのブロック解除処理 -->
          <%= form_for :decline, :url => decline_path({:id => member.id}), :method=>"delete", :html => {"class".intern => "unblock_form"} do |form| %>
            <%= form.hidden_field :to_member_id, :value => member.id %>
          <% end %>
        </div>
        <!--oaitelists-->
      <%end%>
    <%end%>
  </div>
  <!--oaitelists_wrap-->
  <div class="paging">
    <a href="{{ $declining_users->previousPageUrl() }}" rel="prev">
      <img src="/images/back.png" width="24">
    </a>
    <a href="{{ $declining_users->nextPageUrl() }}" rel="next">
      <img src="/images/forward.png" width="24">
    </a>
  </div>
  <script>
    // ブロック解除処理の実行
    $(function (e) {
        $(".unblock").each(function (index) {
            $(this).on("click", function (e) {
                e.preventDefault();
                $(".unblock_form").eq(index).trigger("submit");
            });
        });
    })
  </script>
