<a href="" class="backk">戻る</a>
<section id="app">
  <div class="box">
    <h2>プロフィール編集</h2>
    <%= form_with :model => @member, :url => mypage_edit_path do |form| %>
      <!-- ユーザー名 -->
      <p>ユーザー名</p>
      <% if @member.errors.messages.length > 0 %>
        <% @member.errors.messages[:display_name].each do |error| %>
          <p class="input_red"><%= error %></p>
        <% end %>
      <% end %>
      <%= form.text_field :dislay_name, :value => @member.display_name, :placeholder => "ニックネーム" %>
      <!-- 名字 -->
      <p>姓</p>
      <% if @member.errors.messages.length > 0 %>
        <% @member.errors.messages[:family_name].each do |error| %>
          <p class="input_red"><%= error %></p>
        <% end %>
      <% end %>
      <%= form.text_field :family_name, :value => @member.family_name, :placeholder => "名字" %>
      <!-- 名前 -->
      <p>名</p>
      <% if @member.errors.messages.length > 0 %>
        <% @member.errors.messages[:given_name].each do |error| %>
          <p class="input_red"><%= error %></p>
        <% end %>
      <% end %>
      <%= form.text_field :given_name, :value => @member.given_name, :placeholder => "名字" %>
      <!-- メールアドレス -->
      <p>メールアドレス</p>
      <% if @member.errors.messages.length > 0 %>
        <% @member.errors.messages[:email].each do |error | %>
          <p class="input_red"><%= error %></p>
        <% end %>
      <% end %>
      <%= form.text_field :email, :value => @member.email, :readonly => true %>
      <!-- 性別 -->
      <% if @member.errors.messages.length > 0 then %>
        <% @member.errors.messages[:gender].each do |error| %>
          <p class="input_red"><%= erorr %></p>
        <% end %>
      <% end %>
      <div class="selectors">
        <p>性別</p>
        <div class="cp_ipselect cp_sl04">
          <%= form.select :gender, @genders, :readonly => true %>
        </div>
      </div>
      <!-- 自己PR -->
      <% if @member.errors.messages.length > 0 then%>
        <% @member.errors.messages[:message].each do |error|%>
          <p class="input_red"><%= erorr %></p>
        <%end%>
      <%end%>
      <p>自己PRメッセージ</p>
      <%= form.text_area :message, :placeholder => "自己PR" %>
      <!-- メモ -->
      <% if @member.errors.messages.length > 0 then%>
        <% @member.errors.messages[:memo].each do |error|%>
          <p class="input_red"><%= erorr %></p>
        <%end%>
      <%end%>
      <p>メモ</p>
      <%= form.text_area :memo, :placeholder => "メモ" %>
      <div class="btnbox">
        <a href="" class="btn update_button">編集完了</a>
      </div>
    <%end%>
  </div>
  <!--box-->
</section>
<script>
  // 画面表示時パスワードを非表示
  $(function() {
  
    // Aタグを送信ボタンとして扱う
    $(".update_button").on("click", function(e) {
        e.preventDefault();
        $("form").eq(0).trigger("submit");
    })
  
  })
</script>
