<p>ここはマイページ編集ページ</p>
<p><%= @member.display_name %></p>
<p><%= @member.email %></p>
<p><%= @member.password_digest %></p>
<%= form_with(:model => @member, :url => mypage_edit_path) do | form | %>
  <div>
    <p>フォーム</p>
    <%= form  %>
    <%= form.hidden_field(:id) %>
    <p><%= form.text_field(:email, {:readonly => true }) %></p>
    <p><%= form.text_field(:display_name) %></p>
    <p><%= form.text_field(:family_name) %></p>
    <p><%= form.text_field(:given_name) %></p>
    <p><%= form.select :gender, @genders %></p>
    <p>パスワード<br>
      <%= form.text_field(:password) %>
    </p>
    <p>パスワード<br>
      <%= form.text_field(:password_confirmation) %>
    </p>
    <p><%= form . submit(:update, {
      :value => "更新",
      :id => "button-to-update",
      :class => "button-to-update",
      }) %></p>
  </div>
<% end %>
<!-- 以下エラー表示 -->
<% if @member.errors.messages.length > 0 %>
  <%= @member.errors.messages[:display_name] %>
  <%= @member.errors.messages[:family_name] %>
  <%= @member.errors.messages[:given_name] %>
  <%= @member.errors.messages[:gender] %>
<% end %>
