<p>ここはマイページ</p>
<p><%= @current_user.display_name %></p>
<p><%= @current_user.email %></p>
<p><%= @current_user.password_digest %></p>
<p><a href="<%= mypage_edit_url %>">ユーザー情報の編集へ</a></p>
<p><a href="<%= mypage_upload_url %>">プロフィール写真のアップロードへ</a></p>
