<a href="" class="backk">戻る</a>
<section>
  <div class="opp_status">
    <a href="<%= mypage_matching_url() %>">相互マッチ</a>
    <a href="<%= mypage_informing_likes_url() %>" class="active">贈ったGood</a>
    <a href="<%= mypage_getting_likes_url() %>">もらったGood</a>
  </div>
  <!--opp_status-->
  <% if (@informing_likes.length > 0) then %>
    <div class="oaitelists_wrap mt0">
      <% @informing_likes.each do |like| %>
        <div class="oaitelists">
          <% if (like.to_member.showable_images.length > 0) then %>
            <a href="<%= members_show_url :id => like.to_member.id %>" class="oaitelists_img">
              <img src="<%= like.to_member.showable_images.first.image_url() %>">
            </a>
          <% else %>
            <a href="<%= members_show_url :id => like.to_member.id %>" class="oaitelists_img">
              <img src="/images/sample_user.jpg">
            </a>
          <% end %>
          <p class="bold"><%= like.to_member.display_name %>(<%= like.to_member.age %>歳)</p>
          <p>PR: <%= like.to_member.message %></p>
        </div>
      <% end %>
      <!--oaitelists-->
    </div>
    <!--oaitelists_wrap-->
  <% else %>
    <p>まだ､一度もGoodをもらっていません｡</p>
  <% end %>
  <div class="paging">
    <% if path_to_prev_page(@informing_likes) != nil then %>
      <a href="<%= path_to_prev_page(@informing_likes) %>" rel="prev">
        <img src="/images/back.png" width="24">
      </a>
    <% end %>
    <% if path_to_next_page(@informing_likes) != nil then %>
      <a href="<%= path_to_next_page(@informing_likes) %>" rel="next">
        <img src="/images/forward.png" width="24">
      </a>
    <% end %>
  </div>
</section>
