<p>もらったいいね</p>
<%= @current_user.getting_likes %>
<% @current_user.getting_likes.each do  | like | %>
  <hr>
  <p><%= like.from_member.display_name %></p>
  <p><%= like.from_member.given_name %></p>
  <p><%= like.from_member.family_name %></p>
  <p><%= like.from_member.gender_string %></p>
  <p>
    <a href="<%= member_url(:id => like.from_member.id) %>">
      このユーザーの詳細を閲覧
    </a>
  </p>
<% end %>
<p>おくったいいね</p>
<%= @current_user.informing_likes %>
<% @current_user.informing_likes.each do  | like | %>
  <hr>
  <p><%= like.to_member.display_name %></p>
  <p><%= like.to_member.given_name %></p>
  <p><%= like.to_member.family_name %></p>
  <p><%= like.to_member.gender_string %></p>
  <!-- 画像がアップロードされている場合 -->
  <% if like.to_member.showable_images.length > 0 then %>
    <p><img width="100px" src="<%= like.to_member.showable_images.first.member_image_url %>"></p>
  <% end %>
  <p>
    <a href="<%= member_url(:id => like.to_member.id) %>">
      このユーザーの詳細を閲覧
    </a>
  </p>
<% end %>
