<a href="" class="backk">戻る</a>
<section>
  <h2 class="noto fontpink">アップロード済み画像</h2>
  <div class="oaitelists_wrap mt0">
    <% if @current_user.all_images.length > 0 then %>
      <% @current_user.all_images.each do |image|%>
        <div class="oaitelists">
          <!--<a class="oaitelists_img">
            <img src="<%= image.owner_image_url() %>">
          </a>-->
          <a class="oaitelists_img">
            <img src="<%= image.member_image_url() %>">
          </a>
          <!-- 指定した画像の表示ステータス変更ボタン -->
          <hr>
          <a href="" class="change-active"><%= image.display_status %></a>
          <%= form_for :image, :url => active_image_path(:id => image.id), :method => "post", :html => {:"class" => "change-active-form"} do | form |%>
            <%= form.hidden_field :id, :value => image.id %>
          <% end %>
          <!-- ぼかしレベルの変更 -->
          <hr>
          <a href="" class="change-blur-level">ぼかしレベルの変更</a>
          <%= form_for :image, :url => mypage_update_image_path(:id => image.id), :method => "post", :html => {:"class" => "change-blur-level-form"} do | form|%>
            <%= form.hidden_field :member_id, :value => @current_user.id %>
            <%= form.hidden_field :id, :value => image.id %>
            <p><%= form.select :blur_level, @blur_level, :selected => image.blur_level %></p>
          <%end%>
          <!-- 指定した画像の削除 -->
          <hr>
          <a href="" class="unblock">画像の削除</a>
          <%= form_for :image, :url => mypage_delete_image_path, :method => "delete", :html => {:"class" => "delete-image-form"} do |form| %>
            <%= form.hidden_field :id, :value => image.id %>
          <% end %>
        </div>
        <!--oaitelists-->
      <%end%>
    <%end%>
  </div>
  <!--oaitelists_wrap-->
  <div class="paging">
    <a href="{{ $declining_users->previousPageUrl() }}" rel="prev">
      <img src="/images/back.png" width="24">
    </a>
    <a href="{{ $declining_users->nextPageUrl() }}" rel="next">
      <img src="/images/forward.png" width="24">
    </a>
  </div>
</section>
<script>
  $(".unblock").each((i) => {
    $(".unblock").eq(i).on("click", (e) => {
      e.preventDefault()
      $("form.delete-image-form").eq(i).trigger("submit");
    })
  });
  
  $(".change-blur-level").each( (index) => {
    $(".change-blur-level").eq(index).on("click", function (e) {
      e.preventDefault();
      $("form.change-blur-level-form").eq(index).trigger("submit");
    });
  })
  
  $(".change-active").each(index => {
    $(".change-active").eq(index).on("click", function (e) {
      e.preventDefault();
      $("form.change-active-form").eq(index).trigger("submit");
    });
  });
</script>
