<section>
  <div class="box">
    <h2>会員登録</h2>
    <%= form_with :url => register_main_create_path, :model => member, :method=>  "post"  do |form| %>
      <!-- 仮登録時のトークン -->
      <%= form.hidden_field :token %>
      <%= form.hidden_field :id, :value => member.id %>
      <!-- メールアドレス -->
      <p>メールアドレス</p>
      <% if (member.errors.messages.length > 0) then %>
        <% member.errors.messages[:email].each do |error| %>
          <p class="input_red"><%= error %></p>
        <% end %>
      <% end %>
      <%= form.text_field :email, :readonly => true %>
      <!-- パスワード -->
      <p>パスワード</p>
      <% if member.errors.messages.length > 0 then%>
        <% member.errors.messages[:password].each do |error| %>
          <p class="input_red"><%= error %></p>
        <% end %>
      <% end %>
      <%= form.text_field :password, {:placeholder => "パスワード"} %>
      <p>確認用パスワード</p>
      <% if member.errors.messages.length > 0 then%>
        <% member.errors.messages[:password_confirmation].each do |error| %>
          <p class="input_red"><%= error %></p>
        <% end %>
      <% end %>
      <%= form.text_field :password_confirmation, {:placeholder => "確認用パスワード"} %>
      <!--- ユーザー名 -->
      <p>ユーザー名</p>
      <% if member.errors.messages.length > 0 then %>
        <% member.errors.messages[:display_name].each do |error|%>
          <p class="input_red"><%= error %></p>
        <%end%>
      <%end%>
      <%= form.text_field :display_name, :placeholder => "ユーザー名" %>
      <!--- 姓 -->
      <p>姓</p>
      <% if member.errors.messages.length > 0 then %>
        <% member.errors.messages[:family_name].each do |error|%>
          <p class="input_red"><%= error %></p>
        <%end%>
      <%end%>
      <%= form.text_field :family_name, :placeholder => "姓" %>
      <!--- 名 -->
      <p>名</p>
      <% if member.errors.messages.length > 0 then %>
        <% member.errors.messages[:given_name].each do |error|%>
          <p class="input_red"><%= error %></p>
        <%end%>
      <%end%>
      <%= form.text_field :given_name, :placeholder => "名" %>
      <!-- 性別 -->
      <% if member.errors.messages.length > 0 then %>
        <% member.errors.messages[:gender].each do |error|%>
          <p class="input_red"><%= error %></p>
        <%end%>
      <%end%>
      <div class="selectors">
        <p>性別</p>
        <div class="cp_ipselect cp_sl04">
          <%= form.select :gender, @genders %>
        </div>
      </div>
      <!-- 母国語の設定 -->
      <% if member.errors.messages.length > 0 then %>
        <% member.errors.messages[:native_language].each do |error|%>
          <p class="input_red"><%= error %></p>
        <% end %>
      <% end %>
      <div class="selectors">
        <p>母国語</p>
        <div class="cp_ipselect cp_sl04">
          <%= form.select :native_language, @languages %>
        </div>
      </div>
      <!--selectors-->
      <div class="selectors mb32">
        <p>通知の設定</p>
        <label>
          {{Form::checkbox("notification_good", 1, old("notification_good"))}} Goodを受信時メール
        </label><br>
        <label>
          {{Form::checkbox("notification_message", 1, old("notification_message"))}} メッセージを受信時メール
        </label>
      </div>
      <!--selectors-->
      <div class="selectors mb32">
        @if ($errors->has("agree"))
        <p class="input_red">{{$errors->first("agree")}}</p>
        @endif
        <p>利用規約の同意</p>
        <p>※本サービス利用については以下､利用規約に同意する必要があります｡</p>
        <p><a target="_blank" href="/terms">利用規約</a></p>
        <label>
          {{Form::checkbox("agree", 1, old("agree"))}} 利用規約に同意する
        </label>
      </div>
      <!--selectors-->
      <div class="btnbox">
        <a class="submit_button btn">登録してはじめる</a>
      </div>
    <% end %>
  </div>
  <!--box-->
</section>
<script>
  $(function () {
      $(".body_style .M, .body_style .M").hide();
      $("select[name='gender']").on("change", function (e) {
          var gender = {
              "F" : "M",
              "M" : "F",
          };
          $("." + $(this).val()).show();
          $("." + gender[$(this).val()]).hide();
      });
      // ページ読み込み直後にイベントを発火
      $("select[name='gender']").trigger("change");
      // フォームの投稿ボタン
      $(".submit_button").on("click", function (e) {
          // 年月日を生年月日にフォーマットさせる。
          var year = $("select[name=year]").val();
          var month = $("select[name=month]").val();
          var day = $("select[name=day]").val();
          $("input[name=birthday]").val(year + "-" + month + "-" + day);
          $("form").eq(0).trigger("submit");
      })
  });
</script>
