<section>
  <div class="box">
    <h2>新規会員仮登録</h2>
    <p class="font12">
      アカウント本登録に関してのメールをお送りいたしますので、<br>
      メールアドレスをご入力ください。
    </p>
    <%= form_with :model => @register, :url => register_create_path, :method => "post", :html => {:"class" => "submit-form-to-temp" } do |form|%>
      <!-- email /////////////////////////////// -->
      <p>メールアドレス</p>
      <% if @register.errors.messages.length > 0 then %>
        <% @register.errors.messages[:email].each do |error|%>
          <p class="input_red"><%= error %></p>
        <% end %>
      <% end %>
      <p><%= form.text_field :email %></p>
      <!-- display_name /////////////////////////////// -->
      <p>ニックネーム</p>
      <% if @register.errors.messages.length > 0 then %>
        <% @register.errors.messages[:display_name].each do |error|%>
          <p class="input_red"><%= error %></p>
        <% end %>
      <% end %>
      <p><%= form.text_field :display_name %></p>
      <!-- 性別 /////////////////////////////// -->
      <% if @register.errors.messages.length > 0 then %>
        <% @register.errors.messages[:gender].each do |error|%>
          <p class="input_red"><%= error %></p>
        <%end%>
      <%end%>
      <div class="selectors">
        <p>性別</p>
        <div class="cp_ipselect cp_sl04">
          <%= form.select :gender, @genders %>
        </div>
      </div>
      <div class="btnbox">
        <a id="submit-form" class="btn">登録</a>
      </div>
    <% end %>
  </div>
  <!--box-->
</section>
<script>
  $(function() {
      $("#submit-form").on("click", function (e) {
        $(".submit-form-to-temp").eq(0).trigger("submit")
      });
  });
</script>
