<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <title><%= @title%></title>
    <meta name="keywords" content="<%= @keywords %>">
    <meta name="description" content="<%= @description %>">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,viewport-fit=cover">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <!-- ここからOGP -->
    <meta property="og:title" content="">
    <meta property="og:type" content="article">
    <meta property="og:description" content="">
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
    <!--<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjp.css">
    <link rel="stylesheet" href="https://use.typekit.net/nki7ezk.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/drawer.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/favicon.ico">
    <link rel="canonical" href="">
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/iscroll.min.js"></script>
    <script src="/js/drawer.min.js"></script>
    <script src="/js/slick.js" type="text/javascript"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/vue@2.6.12.js"></script>
    <script src="/js/vue-carousel.min.js"></script>
  </head>
  <body class="drawer drawer--right">
    <button type="button" class="drawer-toggle drawer-hamburger">
      <!--変更予定-->
      <span class="sr-only">toggle navigation</span>
      <span class="drawer-hamburger-icon"></span>
    </button>
    <% if @current_user != nil then %>
      <nav class="drawer-nav">
        <div class="side_profile">
          <div class="side_profile1">
            <div class="side_profile1a">
              <a href="" class="side_profile1b">
                <img src="/images/sample_user.jpg">
              </a>
            </div>
            <a href="" class="side_profile1b"><%= @current_user.display_name %></a>
          </div>
          <!--side_profile1-->
          <div class="side_profile2">
            <a href="<%= mypage_getting_likes_url() %>" class="side_profile2b"><%= @current_user.getting_likes.length %> もらったGood</a>
            <a href="<%= mypage_matching_url() %>" class="side_profile2a"><%= @current_user.informing_likes.length %> 相互マッチ</a>
          </div>
          <!--side_profile2-->
        </div>
        <!--side_profile-->
        <ul class="drawer-menu">
          <li><a href="">条件検索</a></li>
          <li><a href="">メッセージ</a></li>
          <li><a href="<%= mypage_footprints_url() %>">足跡</a></li>
          <li><a href="">お知らせ</a></li>
          <li><a href="<%= mypage_edit_url() %>">プロフィール編集</a></li>
          <li><a href="">有料プラン新規･変更</a></li>
          <li><a href="">設定</a></li>
          <li><a href="<%= logout_url() %>">ログアウト</a></li>
          <span class="sub_line"></span>
          <li class="mini"></li>
          <li class="mini"><img src="/images/checkicon.png" width="12"> 本人確認済</li>
          <li class="mini"><a href="{{action("Member\\IndexController@identity")}}"><img src="/images/caitionicon.png" width="12"> 本人確認証明書アップロード</a></li>
          <!-- 収入両名は男性のみ対応 -->
          <li class="mini"><img src="/images/checkicon.png" width="12"> 収入証明確認済</li>
          <li class="mini"><a href="{{action("Member\\IndexController@income")}}"><img src="/images/caitionicon.png" width="12"> 収入証明アップロード</a></li>
        </ul>
      </nav>
    <% else %>
      <nav class="drawer-nav">
        <ul class="drawer-menu">
          <li><a href="<%= login_url() %>">ログイン</a></li>
          <li><a href="<%= register_index_url() %>">新規会員登録</a></li>
          <span class="sub_line"></span>
          <li><a href="/terms">会員規約</a></li>
          <li><a href="/info">特定商取引法に基づく表記</a></li>
          <li><a href="/privacy">プライバシーポリシー</a></li>
        </ul>
      </nav>
    <% end %>
    <header>
      <!-- <a href=""><img src="/images/ttl.png" width="100"></a> -->
    </header>
