<%= form_with(model: member) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>
      <ul>
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <p><%= form.text_field :email %></p>
    <p><%= form.text_field :display_name %></p>
    <p><%= form.text_field :family_name %></p>
    <p><%= form.select :gender, @genders  %></p>
    <p><%= form.text_field :given_name %></p>
    <p><%= form.text_field :message %></p>
    <p><%= form.text_field :memo %></p>
    <p><%= form.submit %></p>
  </div>
<% end %>
