<a href="" class="backk">戻る</a>
<section>
  <div class="oaitelists_wrap mt0">
    <% if @members.length > 0 then %>
      <% @members.each do |member| %>
        <div class="oaitelists">
          <a href="<%= member_url :id => member.id %>" class="oaitelists_img">
            <% if member.showable_images.length > 0 then %>
              @if ($value->profile_image_id > 0)
              <img src="<%= member.showable_images.first.image_url() %>">
            <% else %>
              <img src="/images/sample_user.jpg">
            <% end %>
          </a>
          <p class="bold"><%= member.display_name %>(歳)</p>
          <p>VIP</p>
          <p>職業: <%= member.display_name %></p>
          <p>エリア: <%= member.display_name %></p>
          <p>PR: <%= member.message %></p>
        </div>
        <!--oaitelists-->
      <% end %>
    <% end %>
  </div>
  <!--oaitelists_wrap-->
  <%= paginate @members %>
  <div class="paging">
    <a href="{{ $members->previousPageUrl() }}" rel="prev">
      <img src="/images/back.png" width="24">
    </a>
    <a href="{{ $members->nextPageUrl() }}" rel="next">
      <img src="/images/forward.png" width="24">
    </a>
  </div>
</section>
