<a href="" class="backk">戻る</a>
<section>
  <div class="oaitelists_wrap mt0">
    <% if @members.length > 0 then %>
      <% @members.each do |member| %>
        <div class="oaitelists">
          <a href="<%= members_show_url :id => member.id %>" class="oaitelists_img">
            <% if member.showable_images.length > 0 then %>
              <img src="<%= member.showable_images.first.image_url() %>">
            <% else %>
              <img src="/images/sample_user.jpg">
            <% end %>
          </a>
          <p class="bold"><%= member.display_name %>(<%= member.age %>歳)</p>
          <p>VIP</p>
          <p>職業: <%= member.display_name %></p>
          <p>エリア: <%= member.display_name %></p>
          <p>母国語: <%= member.native_language_string %></p>
          <p>PR: <%= member.message %></p>
        </div>
        <!--oaitelists-->
      <% end %>
    <% end %>
  </div>
  <!--oaitelists_wrap-->
  <div class="paging">
    <!-- 前ページへのリンク -->
    <% if path_to_prev_page(@members) != nil then %>
      <a href="<%= path_to_prev_page(@members) %>" rel="prev">
        <img src="/images/back.png" width="24">
      </a>
    <% end %>
    <!-- 次ページへのリンク -->
    <% if path_to_next_page(@members) != nil then %>
      <a href="<%= path_to_next_page(@members) %>" rel="next">
        <img src="/images/forward.png" width="24">
      </a>
    <% end %>
  </div>
</section>
