<p id="notice"><%= notice %></p>
<p><%= @member.email %></p>
<p><%= @member.display_name %></p>
<p><%= @member.family_name %></p>
<p><%= @member.given_name %></p>
<p><%= @member.gender_string %></p>
<p><%= @member.password_digest %></p>
<%= @member.like?(@current_user.id) %>
<% if @member.like?(@current_user.id) == true then %>
  <p>既にこのユーザーにいいねしています</p>
<% else %>
  <p>この異性にいいねを贈る</p>
  <%= form_tag(inform_like_path(:id => @member.id), {:method => "post"}) do |form| %>
    <input type="submit" value="いいねを贈る">
  <% end %>
<% end %>
<p>このユーザーが受け取ったいいね数</p>
<p><%= @member.getting_likes.length %> いいね</p>
<P>現在公開中の画像一覧</P>
<% @images.each do | image | %>
  <p>画像ID => <%= image.id %></p>
  <p><img width="100px" src="<%= image.member_image_url %>"></p>
<% end %>
<!-- //ユーザーブロック機能 -->
<p>以下のボタンで､異性をブロックする</p>
<%= form_for(:decline, {:url => declines_path}) do |form| %>
  <p><%= form.hidden_field(:to_member_id, {:value => @member.id}) %></p>
  <p><%= form.hidden_field(:from_member_id, {:value => @current_user.id}) %></p>
  <p><%= form.submit ({:value => "このユーザーをブロックする",
  :id => :id_button_to_block,
  :class => :class_button_to_block})
  %></p>
<% end %>
