<!-- //ユーザーブロック機能 -->
<a href="" class="backk">戻る</a>
<section class="opp_wrap_image">
  <div class="opp_imgs">
    <%=  @member.showable_images.length %>
    <% if (@member.showable_images.length > 0) then %>
      <% @member.showable_images.each do |image| %>
        <div class="opp_img"><img src="<%= image.image_url %>"></div>
      <%end%>
    <%else%>
      <div class="opp_img"><img src="/images/sample_user.jpg"></div>
    <%end%>
  </div>
  <!--opp_imgs-->
</section>
<section class="opp_wrap">
  <% if @is_yourself == false then %>
    <div class="opp_status">
      <% if @member.match_you?(@current_user.id) %>
        <p>相互マッチ中</p>
      <% elsif @member.is_liked?(@current_user.id) %>
        <p>Good済み</p>
      <% elsif @member.like?(@current_user.id) %>
        <p>あなたをGoodしています</p>
      <% else %>
        <!-- 処理無し -->
      <% end %>
    </div>
  <% end %>
  <!--opp_status-->
  <div class="box">
    <div class="facebox">
      <div class="tabbs">
      </div>
      <p><%= @member.display_name %>(<%= @member.age %>歳)</p>
      <p class="font12">本人確認済み</p>
      <p>VIPユーザー</p>
    </div>
    <div class="opp_numberbox">
      <p>もらったGood</p>
      <p class="number"><%= @member.getting_likes.length %></p>
    </div>
  </div>
  <!--box-->
  <div class="balloon1-top">
    <p><%= @member.message %></p>
  </div>
  <div class="box">
    <table>
      <tr>
        <th>メールアドレス</th>
        <td><%= @member.email %></td>
      </tr>
      <tr>
        <th>性別</th>
        <td><%= @member.gender_string %></td>
      </tr>
      <tr>
        <th>ニックネーム</th>
        <td><%= @member.display_name %></td>
      </tr>
      <tr>
        <th>姓</th>
        <td><%= @member.family_name %></td>
      </tr>
      <tr>
        <th>名</th>
        <td><%= @member.given_name %></td>
      </tr>
      <tr>
        <th>母国語</th>
        <td><%= @member.native_language_string %></td>
      </tr>
      <tr>
        <th>興味のある言語</th>
        <td>
          <% @member.interested_languages_string.each do |lang| %>
            「<%= lang %>」
          <% end %>
        </td>
      </tr>
      <tr>
        <th>生年月日</th>
        <td><%= @member.birthday %></td>
      </tr>
    </table>
  </div>
  <!--box-->
  <% if @is_yourself == false then %>
    <!-- 自身のプロフィール閲覧時は表示させない -->
    <div class="tex_c mt64">
      <%= form_for :decline, :url => declines_path, :html => { "class".intern => :decline_form} do |form| %>
        <%= form.hidden_field :to_member_id, :value => @member.id %>
        <%= form.hidden_field :from_member_id, :value => @current_user.id %>
      <% end %>
      <a href="" class="block_button">この人をブロックする</a>
    </div>
  <% end %>
</section>
<% if @is_yourself == false then %>
  <!-- 閲覧中ユーザーにいいねを贈る -->
  <% if (@member.is_liked?(@current_user.id) != true) then %>
    <!-- Goodを贈っていない場合のみ -->
    <div class="btn_follow_fixed">
      <%= form_tag(inform_like_path(:id => @member.id), {"class".intern => :send_like_form, :method => "post"}) do |form| %>
      <% end %>
      <a href="" class="btn_follow sending_like"><%= @member.display_name %>さんにGoodを贈る</a>
    </div>
  <% end %>
<% end %>
<% if @member.match_you?(@current_user.id) == true then %>
  <!-- マッチ済みの場合のみ表示させる -->
  <div class="btn_follow_fixed">
    <a href="<%= message_talk_path :id => @member.id %>" class="btn_follow">
      <%= @member.display_name %>さんにメッセージを送る
    </a>
  </div>
<% end %>
<script>
  // Good送信ボタン
  $(".sending_like").on("click", function(e) {
      e.preventDefault();
      $(".send_like_form").eq(0).trigger("submit");
  });
  
  // ブロック送信ボタン
  $(".block_button").on("click", function(e) {
      e.preventDefault();
      $(".decline_form").eq(0).trigger("submit");
  });
  
  
  $('.opp_imgs').slick({
      centerMode: true,
      dots: true,
      centerPadding: '64px',
      slidesToShow: 1,
      responsive: [{
              breakpoint: 768,
              settings: {
                  arrows: false,
                  centerMode: true,
                  centerPadding: '64px',
                  slidesToShow: 1
              }
          },
          {
              breakpoint: 480,
              settings: {
                  arrows: false,
                  centerMode: true,
                  centerPadding: '64px',
                  slidesToShow: 1
              }
          }
      ]
  });
</script>
